[run]
parallel = true
source = mbed_cloud
omit =
    **/tests/*
    mbed_cloud/_backends/*
[report]
[html]
title = mbed Python SDK coverage
directory = /home/ubuntu/results/$PYVER/coverage.html
[xml]
output = /home/ubuntu/results/$PYVER/coverage.xml
