[run]
source = mbed_cloud
omit = tests/*
parallel = true
[report]
[html]
title = mbed Python SDK coverage
directory = $HOMEDIR/results/$PYVER/coverage.html
[xml]
output = $HOMEDIR/results/$PYVER/coverage.xml
