**/*.DS_Store
**/*.egg-info
**/*.idea
**/*.py[cod]
**/.cache
**/.dockerignore
**/__pycache__/
.circleci
.coverage*
.env
.mbed_cloud_config.json
.pytest_cache
build
built_docs
container
results
rpc_results
scripts/templates
test_fixtures
