*.DS_Store
*.egg-info
*.idea
*.pyc
*.pytest*
*.swp
*coverage.*
*results*/
.cache
.coverage
.env
.mbed_cloud_config.json
.tox
_dvcs.py
build/
built_docs/
dist/
docs/build/
/docs/built_api/
test_fixtures/
venv/
.gh_token
/src/mbed_cloud/_build_info.py

src/mbed_cloud/sdk/api\.py
/tests/bdd/user_stories/
