[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# defer to setup.py
mbed_cloud_sdk = {editable = true, path = "."}

[dev-packages]
codecov = "*"
coverage = "*"
flake8-copyright = "*"
flake8-docstrings = "*"
flask = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
slackclient = "*"
sphinx = "*"
towncrier = "*"
mbed-cloud-sdk = {editable = true, path = "."}
