[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# defer to setup.py
mbed_cloud_sdk = {path = ".", editable = true}

[dev-packages]
codecov = "*"
coverage = "*"
flake8-copyright = "*"
flake8-docstrings = "*"
flask = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
slackclient = "*"
sphinx = "*"
towncrier = "==17.8.0"
auto-version = {editable = true, path = "./scripts/auto_version"}
