[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# defer to setup.py
mbed_cloud_sdk = {editable = true, path = "."}

[dev-packages]
coverage = "*"
flake8 = "*"
flake8-copyright = "*"
flake8-docstrings = "*"
flask = "*"
mock = "*"
# locked to protect from Pluggy compatibility break in more recent versions
pytest = "==3.6.3"
pytest-cov = "==2.5.1"
pytest-html = "==1.19.0"
slackclient = "*"
sphinx = "*"
# locked to protect from Py2/3 compatibility break in more recent versions
towncrier = "==17.8.0"
auto-version = {editable = true, path = "./scripts/auto_version"}

certifi = "==2018.10.15"
future = "==0.17.1"
python-dateutil = "==2.7.5"
python-dotenv = "==0.9.1"
six = "==1.11.0"
urllib3 = "==1.24.1"