# See hardcoded required packages in swagger-codegen
# https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/setup.mustache#L18
urllib3 >= 1.15
six >= 1.10
certifi
python-dateutil

# For development (static analysis)
hacking == 0.12.0
pydocstyle == 1.1.1

# For testing
mock == 2.0.0
