# See hardcoded required packages in swagger-codegen
# https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/setup.mustache#L18
urllib3 >= 1.15
six >= 1.10
certifi
python-dateutil

# For development (static analysis)
hacking == 0.12.0
flake8-docstrings == 1.0.2
flake8-copyright == 0.2.0
pycodestyle == 2.2.0

# For generating documentation
Sphinx == 1.4.9
pypandoc == 1.3.3

# For testing
flask == 0.12
