"""
Foundation Interface
====================

Reference

- :doc:`mbed_cloud.foundation.entities.accounts.user`


Reference 2

- :doc:`mbed_cloud.foundation.entities.accounts.user.rst`


Without members:

.. automodule:: mbed_cloud.foundation.entities.accounts.user

With members:

.. automodule:: mbed_cloud.foundation.entities.accounts.user
  :members: read, list, update, delete

"""

{% for entity in entities|sort(attribute='_key')|sort(attribute='group_id') %}from mbed_cloud.foundation.entities.{{ entity.group_id|to_snake }}.{{ entity._key|to_snake }} import {{ entity._key|to_pascal }}
{% endfor %}

__all__ = [
{% for entity in entities|sort(attribute='_key') %}'{{ entity._key|to_pascal }}',
{% endfor %}
]
