"""
{{ _key|to_pascal }} Foundation Entities
{% for letter in _key %}={% endfor %}====================

This module contains the Foundation Entities that are grouped together under the {{ _key|to_pascal }} category.

.. warning::
    Entities should not be imported via this module as the organisation may change in the future, please use the top
    level foundation module to import entities.

How to import {{ _key|to_pascal }} Entities:

.. code-block:: python
    {% for entity in entities|sort %}
    from mbed_cloud.foundation import {{ entity|to_pascal }}
    {%- endfor %}

"""
