from mbed_cloud import pagination
from mbed_cloud.sdk import common
from mbed_cloud.sdk import fields
from mbed_cloud.sdk import enums


class InstanceFactory:
    """Creates instances of Entities with a client mixed in"""
    def __init__(self, client):
        self.client = client

    {% for entity in entities %}
    def {{ entity._key.snake }}(self, **kwargs):
        """
        :rtype: {{ entity._key.pascal }}
        """
        return {{ entity._key.pascal }}(client=self.client, **kwargs)
    {% endfor %}

{% for entity in entities %}


class {{ entity._key.pascal }}(common.Entity):
    """Represents the `{{entity._key.pascal}}` entity in Mbed Cloud"""

    _fieldnames = [
        {% for field in entity.fields %}
        '{{field._key.snake}}',
        {% endfor %}
    ]

    def __init__(
        self, client=None{% if entity.fields %},{% endif %}
        {% for field in entity.fields %}
            {{field._key.snake}}=None,
        {% endfor %}
    ):
        """Creates a local `{{entity._key.pascal}}` instance

        {% for field in entity.fields %}:param {{field._key.snake}}: {{ field.description|wordwrap(width=88)|indent(width=12) }}
        :type {{field._key.snake}}: {{field.type}}
        {% endfor %}"""

        super().__init__(client=client)

        # Field attributes
        {% for field in entity.fields %}self._{{field._key.snake}} = fields.{{field.python_field}}({{field._key.snake}})
        {% endfor %}

    {% for field in entity.fields %}
    @property
    def {{field._key.snake}}(self):
        """{{ field.description|wordwrap(width=88)|indent(width=8) }}
        {% if field.example %}
        api example: {{ field.example|repr|wordwrap(width=88)|indent(width=12) }}
        {% endif %}
        :rtype: {{ field.python_type }}
        """
        return self._{{field._key.snake}}.value
    {% if not field.read_only and not field=='id' %}
    @{{ field._key.snake }}.setter
    def {{field._key.snake}}(self, value):
        """
        :param value: set value of `{{ field._key.snake }}`
        :type value: {{ field.python_type }}
        """
        self._{{field._key.snake}}.set(value)
    {% endif %}
    {% endfor %}

    {% for mode in entity.modes %}
    def {{mode._key.snake}}(
        self
        {% for field in mode.fields_external_required %},
        {{field._key.snake}}
        {% endfor %}
        {% for field in mode.fields_external_optional %},
        {{field._key.snake}}=None
        {% endfor %}
    ):
        """{{mode.summary}}

        api documentation: https://os.mbed.com/search/?q={{ mode.path }}
        {% if mode.fields_external %}
        {% for field in mode.fields_external %}:param {{field._key.snake}}: {{ field.description|wordwrap(width=88)|indent(width=12) }}
        :type {{field._key.snake}}: {{field.type}}
        {% endfor %}
        {% endif %}"""

    {% if mode.pagination %}
        {# continuing from the outer, 'public' definition ... #}
        return pagination.PaginatedResponse(
            func=self._{{mode._key.snake}},
            lwrap_type=self.__class__,
            {% for field in mode.fields_external %}{{field._key.snake}}={{field._key.snake}},
            {% endfor %}
        )

    def _{{mode._key.snake}}(
        self
        {% for field in mode.fields_external_required %},
        {{field._key.snake}}
        {% endfor %}
        {% for field in mode.fields_external_optional %},
        {{field._key.snake}}=None
        {% endfor %}
    ):
        """Internal 'next-page' behaviour for pagination"""
    {% endif %}
        return self._call_api(
            method='{{mode.method}}',
            path='{{ mode.path }}',
            {% if mode.fields_path %}
            path_params = {
                {% for field in mode.fields_path %}
                '{{field.parameter_fieldname}}':
                    {% if field.external_param %}
                        fields.{{ field.python_field }}({{field._key.snake}}{% if field.enum_reference %}, enum=enums.{{ field.enum_reference.pascal }}{% endif %}).to_api()
                    {% else %}
                        self._{{field._key.snake}}.to_api()
                    {% endif %},
                {% endfor %}
            },
            {% endif %}
            {% if mode.fields_header %}
            header_params = {
                {% for field in mode.fields_header %}
                '{{field.parameter_fieldname}}':
                    {% if field.external_param %}
                        fields.{{ field.python_field }}({{field._key.snake}}{% if field.enum_reference %}, enum=enums.{{ field.enum_reference.pascal }}{% endif %}).to_api()
                    {% else %}
                        self._{{field._key.snake}}.to_api()
                    {% endif %},
                {% endfor %}
            },
            {% endif %}
            {% if mode.fields_query %}
            query_params = {
                {% for field in mode.fields_query %}
                '{{field.parameter_fieldname}}':
                    {% if field.external_param %}
                        fields.{{ field.python_field }}({{field._key.snake}}{% if field.enum_reference %}, enum=enums.{{ field.enum_reference.pascal }}{% endif %}).to_api()
                    {% else %}
                        self._{{field._key.snake}}.to_api()
                    {% endif %},
                {% endfor %}
            },
            {% endif %}
            {% if mode.fields_body %}
            body_params = {
                {% for field in mode.fields_body %}
                '{{field.parameter_fieldname}}':
                    {% if field.external_param %}
                        fields.{{ field.python_field }}({{field._key.snake}}{% if field.enum_reference %}, enum=enums.{{ field.enum_reference.pascal }}{% endif %}).to_api()
                    {% else %}
                        self._{{field._key.snake}}.to_api()
                    {% endif %},
                {% endfor %}
            },
            {% endif %}
            {% if mode.fields_file %}
            stream_params = {
                {% for field in mode.fields_file %}
                '{{field.parameter_fieldname}}':
                    {% if field.external_param %}
                        fields.{{ field.python_field }}({{field._key.snake}}{% if field.enum_reference %}, enum=enums.{{ field.enum_reference.pascal }}{% endif %}).to_api()
                    {% else %}
                        self._{{field._key.snake}}.to_api()
                    {% endif %},
                {% endfor %}
            },
            {% endif %}
            {% if mode.field_renames %}
            inbound_renames = {
                {% for rename in mode.field_renames %}
                '{{rename.api_fieldname}}': '{{rename._key.snake}}',
                {% endfor %}
            },
            {% endif %}
            {% if mode.pagination %}
            unpack = False,
            {% endif %}
        )
    {% endfor %}
{% endfor %}
